body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    left: 4%;
    right: 4%;
    width: 92%;
    background: linear-gradient(315deg, rgb(255, 136, 0) 3%, rgba(255, 136, 0, 0.911) 38%, rgba(255, 51, 0, 0.795) 68%, rgba(255, 123, 0, 0.582) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}



.gallery {
    --s: 160px;
    display: grid;
    grid: auto-flow var(--s) / repeat(2,var(--s));
    gap: 20px;
    place-items: center;
    margin: calc(var(--s)/2);
    transform: rotate(45deg);
    position: absolute;
    left: 40px;
    top: 150px;
  }
  .gallery > img {
    width: 141%;
    aspect-ratio: 1;
    object-fit: cover;
    filter: grayscale(80%);
    transform: scale(var(--_t,1)) rotate(-45deg);
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    cursor: pointer;
    transition: .2s linear;
  }
  .gallery > img:hover {
    filter: grayscale(0);
    --_t: 1.15;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
  }

  @media screen and (max-width: 1700px) {
    .gallery{
        top: 20%;
    }
  }



  
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Hack, monospace;
  }
  
  div {
    color: #727272;
    text-align: center;
  }
  
  h1 {
    margin: 16px;
    font-size: 96px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
  
    &::before {
      content: attr(data-item);
      transition: all 1s ease-in-out;
      color: #ffc954;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      overflow: hidden;
    }
  
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  
  .felso_szoveg{
    color: #f1f1f1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .navbarfelso{
    position: relative;
    bottom: 130px;
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    margin: 10px;
    background: #f9f9f9;
    padding: 1px;
    border-radius: 8px;
    .menuItems {
      list-style: none;
      display: flex;
      li {
        margin: 30px;
  
        a {
          text-decoration: none;
          color: #8f8f8f;
          font-size: 20px;
          font-weight: 400;
          transition: all 0.5s ease-in-out;
          position: relative;
          text-transform: uppercase;
  
          &::before {
            content: attr(data-item);
            transition: 0.5s;
            color: #ffc954;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
  
          &:hover {
            &::before {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }






  footer {
    position: absolute;
    font-size: 12px;
    bottom: -8px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    border-radius: 8px;
  
    a {
      text-decoration: none;
      color: inherit;
      border-bottom: 1px solid;
  
      &:hover {
        border-bottom: 1px transparent;
      }
    }
  }










  .Alszoveg_felso1{
    color: white;
    font-size: 25px;
    position: relative;
    left: 430px;
    bottom: 95px;
  }
  .Alszoveg_also1{
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 517px;
    bottom: 90px;
  }
  .Alszoveg_felso2{
    color: white;
    font-size: 25px;
    position: relative;
    left: 513px;
    bottom: 55px;
  }
  .Alszoveg_also2{
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 600px;
    bottom: 50px;
  }

  .gomb_also{
    width : 100% ;
    height : 300px ;
    display : flex ;
    position: absolute;
    left: 720px;
    bottom: 78px;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
  }
  .type--A{
    --line_color : #fdf8f8 ;
    --back_color : #ffa845  ;
  }
  .button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}
.container{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}
.button:not(:last-child){
  margin-bottom : 64px ;
}

@media screen and (max-width: 1700px) {
    .Alszoveg_felso1{
        left: 330px;
      }
      .Alszoveg_also1{
        left: 447px;
      }
      .Alszoveg_felso2{
        left: 443px;
      }
      .Alszoveg_also2{
        left: 500px;
      }
      .gomb_also{
        left: 600px;
      }
  }
@media screen and (max-width: 1550px) {
    .Alszoveg_felso1{
        left: 280px;
      }
      .Alszoveg_also1{
        left: 397px;
      }
      .Alszoveg_felso2{
        left: 393px;
      }
      .Alszoveg_also2{
        left: 450px;
      }
      .gomb_also{
        left: 550px;
      }
  }
@media screen and (max-width: 1450px) {
    .Alszoveg_felso1{
        left: 230px;
      }
      .Alszoveg_also1{
        left: 347px;
      }
      .Alszoveg_felso2{
        left: 343px;
      }
      .Alszoveg_also2{
        left: 400px;
      }
      .gomb_also{
        left: 500px;
      }
  }
@media screen and (max-width: 1250px) {
    .Alszoveg_felso1{
        left: 130px;
      }
      .Alszoveg_also1{
        left: 247px;
      }
      .Alszoveg_felso2{
        left: 243px;
      }
      .Alszoveg_also2{
        left: 300px;
      }
      .gomb_also{
        left: 400px;
      }
  }

@media screen and (max-width: 430px) {
    .Alszoveg_felso1{
        left: 130px;
        bottom: auto;
      }
      .Alszoveg_also1{
        left: 247px;
        bottom: auto;
      }
      .Alszoveg_felso2{
        left: 243px;
        bottom: auto;
      }
      .Alszoveg_also2{
        left: 300px;
        bottom: auto;
      }
      .gomb_also{
        left: 400px;
        bottom: auto;
      }
  }  

@media screen and (max-width: 1050px) {
    body{
        overflow-y: scroll;
    }
    .Alszoveg_felso1{
        left: 0px;
        bottom: -430px;
      }
      .Alszoveg_also1{
        left: 0px;

        bottom: -435px;
      }
      .Alszoveg_felso2{
        left: 0px;
        bottom: -440px;
      }
      .Alszoveg_also2{
        left: 0px;
        bottom: -445px;
      }
      .gomb_also{
        left: 0px;
        bottom: -450px;
      }
      footer {
        bottom: -480px;
      }
      .gallery {
        left: calc(50% - 170px);
      }
      nav {
        margin: 10px;
        background: #f9f9f9;
        padding: 1px;
        border-radius: 8px;
        .menuItems {
          list-style: none;
          display: flex;
          li {
            margin: 10px;
      
            a {
              text-decoration: none;
              color: #8f8f8f;
              font-size: 20px;
              font-weight: 400;
              transition: all 0.5s ease-in-out;
              position: relative;
              text-transform: uppercase;
      
              &::before {
                content: attr(data-item);
                transition: 0.5s;
                color: #ffc954;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 0;
                overflow: hidden;
              }
      
              &:hover {
                &::before {
                  width: 100%;
                  transition: all 0.5s ease-in-out;
                }
              }
            }
          }
        }
      }
  }


.circle {
    position: absolute;
    display: block;
    background: black;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 0;
    box-shadow: 5px 10px rgba(5, 5, 5, 0.575);
}

@media screen and (max-width: 430px){
    .gallery {
        display: none;
    }
}

@media screen and (max-width: 430px){
    .circle {
        position: absolute;
        display: none;
        background: black;
        border-radius: 50%;
        height: 75px;
        width: 75px;
        margin: 0;
        box-shadow: 5px 10px rgba(5, 5, 5, 0.575);
    }
}

:root {
    --u: 5px;
    --clr: #777;
    --bg: #f1f1f148;
}

.like {
    position: absolute;
    top: calc(100vh - 60px - 70px);
    left: 100px;
    width: calc(var(--u) * 10);
    height: calc(var(--u) * 10);
}
.like2 {
    position: absolute;
    top: calc(100vh - 60px - 70px);
    right: 100px;
    width: calc(var(--u) * 10);
    height: calc(var(--u) * 10);
}

@media screen and (max-width: 1050px) {
    .like2{
        top: calc(100vh + 350px);
    }
    .like{
        top: calc(100vh + 350px);
    }
    .circle {
        position: absolute;
        bottom: -420px !important;
    }
  }

input { display: none; }	

label {
    background: var(--bg);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: calc(var(--u) * 1.5);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

label:before {
    content: "49";
    position: absolute;
    min-width: 50%;
    left: 25%;
    text-align: center;
    top: 0;
    bottom: 0;
    background: var(--bg);
    border-radius: calc(var(--u) * 2);
    font-size: calc(var(--u) * 2);
    font-family: Arial, Helvetica, serif;
    padding: calc(var(--u) * 0.5);
    box-sizing: border-box;
    color: var(--clr);
    line-height: calc(var(--u) * 2.25);
    z-index: -1;
    transition: all 0.5s ease 0s;
    animation: counter-bot 1s ease 0s;
}

input:checked + label:before {
    content: "50";
    color: #fff;
    background: #ff3c41; 
    
    bottom: inherit;
    transition: all 0.5s ease 0s;
    animation: counter-top 1s ease 0s;
}

@keyframes counter-top {
    70% { top: calc(var(--u) * -4.75); }
}

@keyframes counter-bot {
    70% { 
        top: inherit; 
        bottom: calc(var(--u) * -5); 
    }
}

label:after {	
    content: "";
    width: calc(var(--u) * 8);
    height: calc(var(--u) * 8);
    position: absolute;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: -2;
    animation: disc-gray 1s ease 0s, spin-gray 0.65s ease-in-out 0.25s;
    transform: rotate(0deg);
    --pos: 95%;
    background: 
        radial-gradient(circle at 50% 50%, #fff0 0 62%, var(--bg) 63% 65%, #fff0 66% 100%), 
        radial-gradient(circle at 50% var(--pos), var(--bg) 0 4%, #fff0 4.5% 100%);
}

@keyframes spin-gray {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin-red {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes disc-gray {
    70% {
        width: calc(var(--u) * 19);
        height: calc(var(--u) * 19);
    }
}

@keyframes disc-red {
    70% {
        width: calc(var(--u) * 19);
        height: calc(var(--u) * 19);
    }
}

input:checked + label:after {
    --bg: #ff3c41;
    --pos: 5%;
    animation: disc-red 1s ease 0s, spin-red 0.65s ease-in-out 0.25s;
}

input:checked + label span {
    --clr: #ff3c41; 
    animation: like 0.5s ease 0s;
}


@keyframes like {
    75% { transform: scale(1.25); }
}
@keyframes dislike {
    75% { transform: scale(0.75); }
}

.liked{
    filter: brightness(30%)
}

.liked2{
    filter: brightness(30%)
}