body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
    left: 4%;
    right: 4%;
    width: 92%;
    background: linear-gradient(315deg, rgb(255, 136, 0) 3%, rgba(255, 136, 0, 0.911) 38%, rgba(255, 51, 0, 0.795) 68%, rgba(255, 123, 0, 0.582) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.wave {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}





.wrapper {
    width: 90%;
    border-radius: 50px;
    height: 120px;
    background: rgb(41, 41, 41);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;
    position: absolute;
    bottom: -40px;
    left: 5.7%;
  }

  .wrapper a button {
    cursor: pointer;
  }
  .Button_Home{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }
  .Button_Photo{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }
  .Button_Settings{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }
  .Button_User{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }
  .add {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: rgb(201, 198, 198);
    border: none;
    position: relative;
    z-index: 4;
    transition: all 0.3s ease;
    outline: none;
  }
  .search {
    position: relative;
    right: 50px;
    z-index: 0;
    width: 20px;
    height: 38px;
    border-radius: 30px;
    border: none;
    display: none;
    color: white;
    background: white;
    box-sizing: border-box;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: none;
  }
  ::placeholder {
    font-weight: bold;
    color: white;
  }
  .circle {
    width: 75px;
    height: 75px;
    background: rgb(236, 125, 20);
    bottom: 45px;
    left: -15px;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.5s;
  }
  .nav-items {
    width: 30px;
    height: 30px;
    background: rgb(246, 131, 54);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
    transform: scale(0);
    transition: transform 0.1s cubic-bezier(0.23, -0.47, 0.58, -0.63);
  }
  .nav-items:hover {
    transform: scale(1.1);
    transition-timing-function: 0.1s;
  }
  .box {
    width: 100%;
    position: absolute;
    top: 110%;
    left: 0;
    height: 0px;
    overflow: hidden;
    background: white;
    display: grid;
    grid-gap: 10px;
    transition: height 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 0;
  }
  .effect {
    z-index: 3;
    border-radius: 50%;
    width: 200vmax;
    height: 200vmax;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgb(246, 131, 54);
    transition: transform 0.4s;
  }
  .search-focus {
    width: 190px;
    height: 50px;
    position: relative;
    color: black;
    right: 80px;
    bottom: 0px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background: rgb(255, 255, 255);
    animation: searchgoup 0.5s linear 0s 1 forwards;
  }
  @keyframes searchgoup {
    0%{bottom: 0px}
    100%{bottom: 50vh}
  }
  .big {
    transform: translate(-50%, -50%) scale(1);
  }
  .close {
    width: 10px;
  }









.card,
body {
    display: flex;
}

.card-link,
body {
    font-size: 2rem;
}

.card-link {
    letter-spacing: 0.0178571em;
    font-weight: 500;
}

body {
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    color: black;
    background-color: #ced4da;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-align: center;
}


.card {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ff963331;
    background-clip: border-box;
    border: 3px solid #00000020;
    border-radius: 1rem;
}

.card-footer {
    padding: 1.5rem;
    background-color: transparent;
    border-top: 0;
}

.card-title {
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
}

.card-subtitle,
.card-text:last-child {
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: 400;
    margin-top: 0.2rem;
}

.card-link + .card-link {
    margin-left: 1.5rem;
}

.card-footer:last-child {
    border-radius: 0 0 0.8rem 0.8rem;
}

.card-img-overlay {
    top: 0;
    padding: 1.25rem;
    border-radius: 0.8rem;
}

.card-columns {
  position: relative;
  left: 3%;
  top: 100px;
}

@media (min-width: 420px) {
    .card-columns {
        column-count: 2;
        column-gap: 0.5rem;
        orphans: 2;
        widows: 2 !important;
    }
}

@media (min-width: 576px) {
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }

    .card-columns {
        column-count: 3;
        column-gap: 0.5rem;
        orphans: 4;
        widows: 4;
    }

    .container {
        max-width: 98%;
    }
}

@media (min-width: 796px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.125rem;
        orphans: 4;
        widows: 4;
    }
}

@media (min-width: 966px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .container {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

.card-cup {
    height: 130px;
    width: 100%;
}
.card-avatar {
    border-radius: 50%;
}
.avatar-border {
    border: 5px solid #fff;
}

p.card-text,
.secondary {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    opacity: 0.75;
    line-height: 25px;
    text-overflow: clip;
    font-family: source sans pro;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more {
    border-radius: 5px !important;
    letter-spacing: 0.5px !important;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #00000033, inset 1px 1px 1px #2c2c2c99, inset -1px -1px 1px #0c0d120f, -1px -1px 1px #2c2c2c99, -1px -1px 4px #2c2c2c99, -2px -2px 8px #2c2c2c99, 1px 1px 1px #0c0d120f, 1px 1px 4px #0c0d120f, 2px 2px 8px #0c0d120f !important;
    background-color: hsl(0, 0%, 0%);
    text-shadow: 0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%),
    0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0 rgb(12 13 18 / 8%),
    0 1.2px 0 black !important;
    color: hsl(233deg 5% 26%) !important;
    font-weight: 300 !important;
    border: none !important;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

span.badge.badge-light {
    padding: 4.5px 6.5px;
    font-size: 14px;
    background-image: linear-gradient(#f18b47, #f18b47, #f18b47, #f18b47);
    box-shadow: 0 0 0.25px #f18b47,
    -0.5px -0.75px 1px rgb(241 249 255 / 15%) inset,
    -0.75px -1.5px 1.5px rgb(44 6 13 / 5%) inset, 0 -0.5px 0.75px 0.25px #f18b47,
    0 0.5px 0.75px 0.25px #f18b47, 0 -0.75px 2px -0.75px #f18b47,
    0 0.75px 2px -0.75px #f18b47, -0.5px -2px 3px 0.75px rgb(44 6 13 / 85%),
    -1.75px -2.5px 2.5px -0.25px rgb(150 90 64 / 35%),
    -0.75px -0.75px 0.625px 0.25px rgb(150 90 64 / 50%),
    -0.85px -0.35px 0.85px 0 rgb(201 149 135 / 55%),
    -1.25px -1.25px 1.65px 0 rgb(201 149 135 / 25%);
    border-radius: 4px;
    font-family: Roboto;
    color: black;
}

.card-img-overlay.two {
    height: 125px;
    background-image: url(https://marketplace.canva.com/EAFNFWNVous/1/0/1600w/canva-orange-watercolor-linktree-background-rOEQ08dE0ac.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 12px 12px 1px 1px;
    background-position: 50% 50% !important;
    margin-bottom: -15px;
    box-shadow: inset 0 3px 4px 0.5px hsl(44deg 22% 88%),
    inset 0 -6px 3px -3px hsl(44deg 22% 98% / 50%);
    border-bottom: 1px solid #e5e5e5;
}

.card-avatar.avatar-border.mt-n5,
.card-avatar.mr-44 {
    border: 1.5px solid #15181a;
    background: linear-gradient(#3c4349, #252a2d);
    position: relative;
    background-image: url("Images/avatar.png");
    background-size: 120%;
    background-position: 50%;
}

.card.border-0.three {
    box-shadow: rgb(0 0 0 / 23%) 0 0.0625em 0.0625em,
    rgb(0 0 0 / 20%) 0 0.25em 0.25em,
    rgb(0 0 0 / 18%) 0 0.45em 1.105em -0.0625em !important;
}

.card-avatar.avatar-border.mt-n5 {
    box-shadow: 0 -0.75px 0.5px 0 #212428 inset, 0 0.5px 0.5px #535d65 inset,
    0 0.5px 0.5px -0.25px rgb(5 6 6 / 50%),
    0 1.75px 1px -0.25px rgb(26 29 31 / 25%);
    padding: 36px !important;
    width: 36px;
    height: 36px;
    margin: auto;
}

.mt-n5,
.my-n5 {
    margin-top: -4rem !important;
}

.card-footer.card-footer.two {
    border-radius: 2px !important;
    margin: 0 auto auto;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 0;
    column-gap: 14px;
    font-size: 0.89rem;
    text-transform: uppercase;
    line-height: 1.5;
}

.card-cup.bg-primary {
    height: 85px;
    width: 100%;
    background-image: url(https://marketplace.canva.com/EAFNFWNVous/1/0/1600w/canva-orange-watercolor-linktree-background-rOEQ08dE0ac.jpg) !important;
    background-size: cover;
    background-position: 50% 50%;
}

.Kartya1{
    position: relative;
    left: 30px;
}
.Kartya2{
    position: relative;
    left: 30px;
}
.Kartya3{
    position: relative;
    left: 30px;
}


@keyframes showSettings {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes hideSettings {
    0%{opacity: 1;}
    100%{opacity: 0;}
}







:root {
    --color-one: #52117d;
    --color-two: #a944ec;
    --color-three: #ffc800;
    --color-accent: #19ff70;
    --color-text: black;
    --color-bg: #181729;
    --font-family-headings: "Inter", sans-serif;
  }
  
  .lns-checkbox {
    display: inline-flex;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    line-height: 1;
    border-radius: 5px;
    background-color: none;
    padding: 5px 7px 5px 7px;
    user-select: none;
  
    @media (min-width: 992px) {
      font-size: 1.25rem;
    }
  
    span {
      position: relative;
      display: flex;
      align-items: center;
    }
  
    input[type="checkbox"] {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
  
      &:checked + span::after {
        background-color: var(--color-accent);
      }
  
      &:checked + span {
        color: var(--color-accent);
      }
  
      &:focus + span::before {
        border-color: var(--color-accent);
      }
  
      &:disabled {
        opacity: .85;
        & + span {
          color: #9a9a88;
        }
      }
    }
  
    span::before {
      content: "";
      display: inline-block;
      border-radius: 3px;
      background-color: #dcdce7;
      margin-right: 8px;
      height: 16px;
      width: 16px;
      border: 1px solid transparent;
    }
  
    span::after {
      content: "";
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 3px;
      background-color: transparent;
      left: 3px;
      position: absolute;
    }
  }








  #Kartya_Settings{
    display: none;
    background-color: #ff963393;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 550px;
    left: calc(82.5% - 250px);
}

#Kartya_Settings_Togglebtn{
  width: 100%;
  color: white;
  background-color: black;
}

#ForYou_Settings{
  display: none;
  background-color: #ff963393;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 550px;
  left: calc(20% - 250px);
}

#Profil_Settings{
  display: none;
  background-color: #ff963393;
  border-radius: 10px;
  width: 500px;
  height: 380px;
  position: absolute;
  top: 460px;
  left: calc(50% - 250px);
}











* { box-sizing:border-box; }
.container 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}

.group 			  { 
  position:relative; 
  left: 90px; 
}
input[type="text"] 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  background-color: #ffffff2c;
  border-bottom:1px solid #757575;
}
input[type="text"]:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#fdf4e2; 
  font-size:18px;
  font-weight:normal;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.Appearance_settings{
  margin-bottom: 5px;
}

.inputstyle{
  position:absolute;
  left:5px;
  top:10px;
}

/* active state */
input[type="text"]:focus ~ label, input:valid ~ label 		{
  top:-1px;
  font-size:14px;
  color:#fdf4e2;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#d3a33a; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input[type="text"]:focus ~ .bar:before, input[type="text"]:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:60%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input[type="text"]:focus ~ .highlight {
  margin-top: 15px;
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#dd9716; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#dd9716; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#dd9716; }
  to 	{ width:0; background:transparent; }
}